.g-4-Rev{
    width: 85%;
    margin:auto;
    padding-top: 10%;
}

.con-rev-p{
    margin-top: 10%;
    font-weight: 400;
    font-size: 20px;
    color: #7A7A7A;
}

.h3-con{
    margin-top: 10px;
    font-weight: 800;
}

.con-rev-p1{
    
    font-weight: 400;
    font-size: 20px;
    color: #7A7A7A;
    
}

spanx {
    font-size: 6rem;
    font-weight: 800;
    background: #1A6659;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.value{
    margin:auto;
}

.tri2{
    position: absolute;
    z-index: 99;
    float: right;
    
}

.con-ETV{
    font-size: 400%;
    font-weight: bold;
    line-height: 0.7;
}

span1{
    color: #FF0101;
}

.RevleftCol-Rev p{
    margin-top: 10%;
    font-weight: 400;
    font-size: x-large;
}

.con-RevleftCol-Rev{
    background-color: #F4F6FB;
    display: flex;
    justify-items: center;

}

.RevrightCol-Rev{
    height: auto;
    padding-left: 10%;

}

.RevleftCol-Rev{
    padding-bottom: 5%;
}


.con-bttn{
    float: left;
    width: 300px;
    margin-top: 10%;
}

.btn-primary{
    --bs-btn-border-color: #b8b8b8;
    --bs-btn-bg: #ffffff;
    --bs-btn-color: #141619;
    --bs-btn-border-radius: 35px;
}
span{
    width: 70%;
    float: left;
    margin-top: 2.5%;
}

span2{
    float: right;
    margin-top: 1%;
    transform: rotate(270deg);
}

span2 img{
    height: 75%;
    width: 75%;
}

.con-txt-btn{
    width: 70%;
    float: left;
    margin-top: 4.5%;
    color: #9A9999;
    
}

@media screen and (max-width: 768px) {
    .RevrightCol-Rev{
        width: 100%;
        height: auto;
    }
    .bttn{
    
        width: 80%;
    }

    .RevleftCol-Rev{
    
    margin-top: 70px;
        padding-bottom: 5%;
    }
    

    span{
        width: 50%;
        float: left;
        margin-top: 2.5%;
        font-size: small;
    }
    .tri2{
        /* display:none; */
    }

    .con-ETV{
        font-size: 300%;
    }
    
}

@media screen and (max-width: 1800px){

    .tri2{
        /* display:none; */
    }

}