.g-4-Rev{
    width: 85%;
    margin:auto;
    padding-top: 10%;
}

.RevrightCol-Rev p{
    margin-top: 10%;
    font-weight: 400;
    font-size: 20px;
    color: #7A7A7A;
}


.tri2{
    position: absolute;
    z-index: 99;
    float: right;
    
}

.ETV{
    font-size: 400%;
    font-weight: bold;
    margin-top: 20px;
}

span1{
    color: #FF0101;
}

.RevleftCol-Rev p{
    margin-top: 10%;
    font-weight: 400;
    font-size: x-large;
}

.RevrightCol-Rev{
    
    height: auto;
}

.RevleftCol-Rev{
    padding-bottom: 5%;
}


.Revbttn{
    float: left;
    width: 300px;
}

.btn-primary{
    --bs-btn-border-color: #b8b8b8;
    --bs-btn-bg: #ffffff;
    --bs-btn-color: #141619;
    --bs-btn-border-radius: 35px;
}
span{
    width: 70%;
    float: left;
    margin-top: 2.5%;
}

span2{
    float: right;
    margin-top: 1%;
    transform: rotate(270deg);
}

span2 img{
    height: 75%;
    width: 75%;
}

.rev-txt-btn{
    width: 70%;
    float: left;
    margin-top: 3.5%;
    
}

@media screen and (max-width: 768px) {
    .RevrightCol-Rev{
        width: 100%;
        height: auto;
    }
    .bttn{
    
        width: 80%;
    }

    .RevleftCol-Rev{
    
    margin-top: 70px;
        padding-bottom: 5%;
    }
    

    span{
        width: 50%;
        float: left;
        margin-top: 2.5%;
        font-size: small;
    }
    .tri2{
        /* display:none; */
    }

    .ETV{
        font-size: 300%;
    }
    
}

@media screen and (max-width: 500px){
span2 img {
    height: 50%;
    width: 50%;
}
}



@media screen and (max-width: 1800px){

    .tri2{
        /* display:none; */
    }

}