.g-4-twocol{
    margin-top: 10%;
    width: 85%;
    /* transform: translate(7.5%); */
    margin:auto;
    padding-top: 10%;
}



h1{
    font-size: 400%;
    font-weight: bold;
}

em{
    color: #FF0101;
}

.leftCol-twocol p{
    margin-top: 10%;
    font-weight: 400;
    font-size: 20px;
    color: #7A7A7A;
}

.txt-btn{
    width: 70%;
    float: left;
    margin-top: 5.5%;
    font-size: 15px;
}

.rightCol-twocol{
    /* width: 50%; */
    /* transform: translate(20%); */
    height: auto;
}


.bttn{
    float: left;
    width: 300px;
    margin-bottom: 50px;
}

.btn-primary{
    --bs-btn-border-color: #b8b8b8;
    --bs-btn-bg: #ffffff;
    --bs-btn-color: #141619;
    --bs-btn-border-radius: 28px;
}
span{
    width: 70%;
    float: left;
    margin-top: 2.5%;
}

pre{
    float: right;
    margin-top: 1%;
    transform: rotate(270deg);
}

pre img{
    height: 75%;
    width: 75%;
}

@media screen and (max-width: 769px) {
    .rightCol{
        width: 100%;
        height: auto;
    }
    .bttn{
    
        width: 80%;
    }

    .card-title {
        margin-bottom: var(--bs-card-title-spacer-y);
        font-size: 1.5rem;
    }

    .txt-btn{
        width: 67%;
    float: left;
    margin-top: 4.5%;
    font-size: 11px;
    }

    .leftCol-twocol p{
        margin-top: 10%;
        font-weight: 400;
        font-size: medium;
    }

    span{
        width: 50%;
        float: left;
        margin-top: 2.5%;
        font-size: small;
    }
    
}